#th-hexas-container{
    margin: auto;
    /* background-image: url("/static/images/infrared_nb.jpg"); */
}

.th-hexagon {
    stroke: darkred;
    fill: white;
    /* backdrop-filter: grayscale(100%); */
}

