body{
    margin: 0;
    background-color: black;
    overflow: hidden;
    color: white;
}

.th-btn{
    display: inline-block;
    margin-right: 4px;
    background-color: black;
    text-align: center;
    padding: 10px;
    border: dashed 1px #900;
    color: red;
    cursor: pointer;
}
