body{
    background-color: black;
    color: gray;
}

h3{
    font-weight: 300;
}

.preview #aladin-lite-div{
    width: 100vw;
    height: 50vh;
}

.aladin-location{

    color: black;
}

.aladin-fov,
/* .aladin-location, */
.aladin-logo-container{
    display: none;
}

#th-modules{
    position: absolute;
    width: 100vw;
    height: 50vh;
    top: 50vh;
    padding: 5px;
    display: flex;
}

.th-module{
    width: 32.9%;
    padding: 10px;
    height: calc(100% - 10px);
    /* background-color: gray; */
    margin-right: 5px;
    border: dashed 1px gray;
    display: flex;
    flex-direction: column;
}

#nav{
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: dashed 1px white;
    width: fit-content;
    float: right;
}

.full #aladin-lite-div{
    width: 100vw;
    height: 100vh;
}

.coord{
    display: inline-block;
    cursor: pointer;
}

.coord-deg{
    display: inline-block;
    width: 15px;
    height: 30px;
    font-weight: bold;
    color: white;
    margin-top: 43px;
    margin-right: 4px;
    vertical-align: top;
    text-align: center;
    padding-top: 10px;
}

.coord-master{
    margin-top: 20px;
}

.coord-master .coord-deg{
    margin-top: 0px;
}

.coord div{
    width: 40px;
    height: 30px;
    margin-right: 4px;
    background-color: black;
    text-align: center;
    padding-top: 10px;
    border: solid 1px #900;
    color: red;
}

.coord-deg.coord-active{
    color: red;
}

.coord-deg.coord-ok{
    color: green;
}

.coord.coord-inactive div{
    border: solid 1px gray;
    color: gray;
}

.coord.coord-ok div{
    border: solid 1px green;
    color: green;
}

.coord.coord-ok .coord-ctrl,
.coord.coord-inactive .coord-ctrl{
    opacity: 0;
}

#canvas-overlay{
    opacity: 0;
    transition: all 3s ease-in-out;
}

#canvas-overlay.visible{
    opacity: 1;
}

#overlay{
    width: 100vw;
    height: 100vh;
    position:fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 999;
    opacity: 0;
    transition: all 4s ease-in-out;
}

#overlay.visible{
    opacity: 1;
}

.th-btn{
    width: fit-content;
    padding: 10px;
    border: solid 1px #911;
    margin: auto;
    cursor: pointer;
}
