body{
    margin:0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: lato;
    font-weight: 400;
}

 
#celestial-map{
    width: 120vw;
    /* width: 100%; */
    /* height: 100%; */

}

.aladin-container{
    border: none;
}

.aladin-imageCanvas{
    /* filter: grayscale(1); */
}

#controls{
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 999;
    color: red;
    width: 370px;
}

.btn{
    float: right;
    margin-right: 10px;
    padding: 10px;
    background-color: black;
    border: dashed 1px red;
    color: red;
}

#canvas-overlay{
    position: fixed;
    left: 0;
    top: 0;
    /* width: 100vw; */
    /* height: 100vh; */
    z-index: 200;
    pointer-events: none;
    filter: invert(1);
    /* filter: hue-rotate(120deg); */
}

#filter{
    position: absolute;
    z-index: 150;
    width: 400px;
    height: 400px;
    border: dashed 1px red;
}
